@import url("https://use.typekit.net/tlh8hex.css");
body{
    margin: 0;
    padding: 0;
    color: #000000;
    background-color: #ffe4c4;
    font-family: poynter-oldstyle-text, serif;
    font-style: normal;
    font-weight: 400;
}

pre{
    display: none;
}

h1{
    line-height: 1.5;
    font-size: 60px;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 50vw;
    text-align: center;
}

h1:only-of-type{
    color: maroon;
}

p{
    line-height: 1.5;
    font-size: 15px;
    max-width: 50vw;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

p:nth-child(5n), p:nth-of-type(7n){
    padding-left: 30vw;
    padding-right: 0vw;
}

p:nth-of-type(7){
    padding-left: 0;
}

h2{
    line-height: 2;
    font-size: 30px;
    padding-top: 150px;
    margin: auto;
    width: 50vw;
    text-align: center;
}

h2:first-of-type{
    font-style: italic;
}

p:last-of-type{
    color: maroon;
}

img{
    margin: auto;
    width: 75%;
    display: block;
}

h2 + p::first-letter{
    font-size: 30px;
}

blockquote > p{
    font-style: italic;
}

p:last-child{
    color: #000000;
}

h1 ~ h2{
    font-style: italic;
}

blockquote p:only-child{
    padding-left: 10vw;
    font-size: 18px;
}

h2:first-child{
    display: none;
}