@import url("https://use.typekit.net/tlh8hex.css");
body{
    margin: 0;
    padding: 0;
    background-color: bisque;
    font-family: poynter-oldstyle-text, serif;
    font-style: normal;
    font-weight: 400;
}

pre{
    display: none;
}

h1{
    line-height: 1.5;
    font-size: 60px;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 50vw;
    text-align: center;
}

p{
    line-height: 1.5;
    font-size: 15px;
    max-width: 50vw;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

p:nth-child(5n), p:nth-of-type(7n){
    padding-left: 30vw;
    padding-right: 0vw;
}

p:nth-of-type(7){
    padding-left: 0;
}

h2{
    line-height: 2;
    font-size: 30px;
    padding-top: 150px;
    margin: auto;
    width: 50vw;
    text-align: center;
}

img{
    margin: auto;
    width: 75%;
    display: block;
}

